<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vanhainkoti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container">
            <h1><a href="/">Foorumi</a>: <span th:text="${alue.nimi}">nimi</span></h1>

            <div th:if="${varoitus}">
                <div class="alert alert-warning">
                    <strong>Virhe:</strong> <span th:text="${varoitus}" th:if="${varoitus}">varoitusteksti</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <ul class="pager">
                        <li><span th:if="${sivumaara}>${sivu}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${sivu}+1)}">Seuraava</a></span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <ul class="pagination">
                        <li th:class="${i==sivunro}? 'active'" th:each="i : ${sivunumerot}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${i})}"><span th:text="${i}">0</span></a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <ul class="pager">
                        <li><span th:if="${sivumaara}>${sivu}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${sivu}+1)}">Seuraava</a></span></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <strong>Otsikko</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Viestejä</strong>
                </div>
                <div class="col-sm-4">
                    <strong>Päivämäärä</strong>
                </div>
            </div>

            <div class="row" th:each="ketju, iterStat: ${ketjut}">
                <div class="col-sm-6" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <a th:href="@{~/ketju/{kid}/1(kid=${ketju.id})}">
                        <span th:text="${ketju.nimi}">Nimi</span></a>
                </div>
                <div class="col-sm-2" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <span th:text="${ketju.lkm}">Maara</span>
                </div>
                <div class="col-sm-4" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <span th:text="${ketju.pvm}">Pvm</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <ul class="pager">
                        <li><span th:if="${sivumaara}>${sivu}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${sivu}+1)}">Seuraava</a></span></li>
                    </ul>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <ul class="pagination">
                        <li th:class="${i==sivunro}? 'active'" th:each="i : ${sivunumerot}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${i})}"><span th:text="${i}">0</span></a></li>
                    </ul>
                </div>

                <div class="col-sm-2">
                    <ul class="pager">
                        <li><span th:if="${sivumaara}>${sivu}"><a th:href="@{~/alue/{aid}/{sivunro}(aid=${alue.id}, sivunro=${sivu}+1)}">Seuraava</a></span></li>
                    </ul>
                </div>
            </div>

            <form class="form" role="form" method="POST" action="/ketju/uusi">
                <div class="form-group">
                    <label for="nimimerkki">Nimimerkki:</label>
                    <input type="text" class="form-control" id="nimimerkki" name="nimimerkki" placeholder="Kirjoita nimimerkkisi"/>
                </div>
                <div class="form-group">
                    <label for="otsikko">Otsikko:</label>
                    <input type="text" class="form-control" id="otsikko" name="otsikko" placeholder="Kirjoita viestin otsikko"/>
                </div>
                <div class="form-group">
                    <label for="viesti">Viesti:</label>
                    <textarea class="form-control" rows="3" id="viesti" name="viesti" placeholder="Kirjoita viestisi tänne"></textarea>
                </div>
                <input type="hidden" name="alueid" th:value="${alue.id}" />
                <button type="submit" class="btn btn-default">Aloita ketju</button>
            </form>

        </div>
    </body>
</html>
