<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vanhainkoti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="/style.css" />
    </head>

    <body>
        <h1><a href="/">Foorumi</a>: <span th:text="${alue.nimi}">nimi</span></h1>
        
        <ul>
            <li th:each="ketju: ${ketjut}">
                <!--<a th:href="@{/ketju/{kid}(kid=${ketju.id})}">-->
                <a th:href="@{http://localhost:4567/ketju/{kid}(kid=${ketju.id})}">
                    <span th:text="${ketju.nimi}">Nimi</span></a>
                <span th:text="${ketju.lkm}">Maara</span>
                <span th:text="${ketju.pvm}">Pvm</span>
            </li>            
        </ul>
            
                <!--formista katso http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#creating-a-form 
        tarvitaan kai joku model object -->
        <form method="POST" action="/ketju/uusi">
            Nimimerkki:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Otsikko:<br/>
            <input type="text" name="otsikko"/><br/>
            Viesti:<br/>
            <input type="textarea" rows="4" cols="50" name="viesti"/><br/>
            <input type="hidden" name="alueid" value="th.alueid" /><br/>
            <input type="submit" value="Aloita ketju"/>
        </form>

    </body>
</html>