<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vanhainkoti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="/style.css" />
    </head>

    <body>
        <h1>Alueet</h1>
        
        <ul>
            <li th:each="alue: ${alueet}">
                <!--<a th:href="@{/alue/{alue.id}}">-->
                <a th:href="@{http://localhost:4567/alue(id=${alue.id})}">
                    <span th:text="${alue.nimi}">Nimi</span></a>
                <span th:text="${alue.lkm}">ViestienLkm</span>
                <span th:text="${alue.pvm}" th:if="${alue.lkm}>0">Pvm</span>
            </li>
        </ul>
            
    </body>
</html>