<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vanhainkoti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    </head>

    <body>
        <div class="container">
            <h1>Alueet</h1>

            <div th:if="${varoitus}">
                <div class="alert alert-warning">
                    <strong>Virhe:</strong> <span th:text="${varoitus}" th:if="${varoitus}">varoitusteksti</span>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12"></div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <strong>Alue</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Viestejä</strong>
                </div>
                <div class="col-sm-4">
                    <strong>Päivämäärä</strong>
                </div>
            </div>

            <div class="row" th:each="alue, iterStat: ${alueet}">
                <div class="col-sm-6" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <a th:href="@{~/alue/{aid}/1(aid=${alue.id})}">
                        <span th:text="${alue.nimi}">Nimi</span></a>
                </div>
                <div class="col-sm-2" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <span th:text="${alue.lkm}">ViestienLkm</span>
                </div>
                <div class="col-sm-4" th:style="${iterStat.even}? 'background-color:lavender;'">
                    <span th:text="${alue.pvm}" th:if="${alue.lkm}>0">Pvm</span>
                </div>
            </div>


            <form class="form" role="form" method="POST" action="/alue/uusi">
                <div class="form-group">
                    <label for="nimi">Alueen nimi:</label>
                    <input type="text" class="form-control" id="nimi" name="nimi" placeholder="Kirjoita luotava alue"/>
                </div>
                <button type="submit" class="btn btn-default">Luo alue</button>
            </form>


        </div>
    </body>
</html>