<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vanhainkoti</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Alue:</h1>
        
        <ul>
            <li th:each="ketju: ${ketju}">
                <span th:text="${ketju.getNimi}">Nimi</span>
                <span th:text="${ketju.getId}">Id</span>
                <span th:text="${ketju.getViimeisinPvm}">Pvm</span>
            </li>            
        </ul>
            
    </body>
</html>