<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <!--<title th:title="Vanhainkoti: ${ketju.animi}">animi</title>-->
        <title>Vanhainkoti</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" media="all" href="/style.css" />
    </head>

    <body>
<!--        <h1><a th:href="@{/}">Forum</a> /
            <a th:href="@{/alue/{aid}(aid=${ketju.aid})}">-->
        <h1><a th:href="@{http://localhost:4567/}">Forum</a> /
            <a th:href="@{http://localhost:4567/alue/{aid}(aid=${ketju.aid})}">
                <span th:text="${ketju.animi}">animi</span></a> / 
            <span th:text="${ketju.nimi}">knimi</span></h1>

        <ul>
            <li th:each="viesti: ${viestit}">
                <span th:text="${viesti.viesti}">sisalto</span> t. 
                <span th:text="${viesti.nimimerkki}">nimim</span>
            </li>            
        </ul>

        <!--formista katso http://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html#creating-a-form 
        tarvitaan kai joku model object -->
        <form method="POST" action="/ketju/ketju.id">
            Nimimerkki:<br/>
            <input type="text" name="nimimerkki"/><br/>
            Viesti:<br/>
            <input type="text" name="viesti"/><br/>
            <input type="hidden" name="alueid" value="th.ketjuid" /><br/>
            <input type="submit" value="Vastaa"/>
        </form>

    </body>
</html>